// Neutral button
$btn-neutral-bg:                    $gray-900 !default;
$btn-neutral-color:                 $gray-100 !default;
$btn-neutral-border-color:          $gray-300 !default;
$btn-neutral-hover-bg:              $gray-100 !default;
$btn-neutral-hover-border-color:    $gray-200 !default;
$btn-neutral-hover-color:           $gray-700 !default;
$btn-neutral-active-bg:             $gray-200 !default;
$btn-neutral-active-border-color:   $gray-300 !default;
$btn-neutral-active-color:          $gray-700 !default;


$gray-100:                          $gray-900 !default;



// Dark dropdowns
//$dropdown-color:               $gray-300;
//$dropdown-bg:                  $gray-800;
//$dropdown-border-color:        $dropdown-border-color;
//$dropdown-box-shadow:          null;
//$dropdown-divider-bg:          $dropdown-divider-bg;
//$dropdown-box-shadow:          null;
//$dropdown-link-color:          $gray-300;
//$dropdown-link-hover-color:    $white;
//$dropdown-link-hover-bg:       rgba($white, .15);
//$dropdown-link-active-color:   $dropdown-link-active-color;
//$dropdown-link-active-bg:      $dropdown-link-active-bg;
//$dropdown-link-disabled-color: $gray-500;
//$dropdown-header-color:        $gray-500;


// Surtitle
//$surtitle-color:              $gray-300;