
// Google Sans
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Google Sans Regular'), url('#{$path-to-fonts}/google/GoogleSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Google Sans';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: local('Google Sans Italic'), url('#{$path-to-fonts}/google/GoogleSans-Italic.ttf') format('truetype');
}


@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Google Sans Medium'), url('#{$path-to-fonts}/google/GoogleSans-Medium.ttf') format('truetype');
}


@font-face {
  font-family: 'Google Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Google Sans Medium Italic'), url('#{$path-to-fonts}/google/GoogleSans-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Google Sans Bold'), url('#{$path-to-fonts}/google/GoogleSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Google Sans Bold'), url('#{$path-to-fonts}/google/GoogleSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Google Sans Bold'), url('#{$path-to-fonts}/google/GoogleSans-Bold.ttf') format('truetype');
}


@font-face {
  font-family: 'Google Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Google Sans Bold Italic'), url('#{$path-to-fonts}/google/GoogleSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Google Sans';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Google Sans Bold Italic'), url('#{$path-to-fonts}/google/GoogleSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Google Sans';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Google Sans Bold Italic'), url('#{$path-to-fonts}/google/GoogleSans-BoldItalic.ttf') format('truetype');
}

// Segoe UI

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Segoe UI Regular'), url('#{$path-to-fonts}/segoe-ui/Segoe-UI.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: local('Segoe UI Italic'), url('#{$path-to-fonts}/segoe-ui/Segoe-UI-Italic.woff') format('woff');
}


@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local('Segoe UI Bold'), url('#{$path-to-fonts}/segoe-ui/Segoe-UI-Bold.woff') format('woff');
}


@font-face {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: local('Segoe UI Bold Italic'), url('#{$path-to-fonts}/segoe-ui/Segoe-UI-Bold-Italic.woff') format('woff');
}

