// Front Default Color Variables
// =========================================================

$root-path:                                                 "../";


// Base colors
$blue:        #0061FE !default;
$blue-night:  #3984FF !default;  // use in dark mode
$coconut:     #F7F5F2 !default;
$graphite:    #1E1919 !default;
$green:       #2d7a02 !default;

// Accent colors
$ocean:     #007891 !default;
$crimson:   #9B0032 !default;
$rust:      #BE4B0A !default;
$canopy:    #0F503C !default;
$navy:      #283750 !default;
$plum:      #78286E !default;
$magenta:   #CD2F7B !default;
$gold:      #9B6400 !default;

$zen:       #14C8EB !default;
$sunset:    #FA551E !default;
$tangerine: #FF8C19 !default;
$lime:      #B4DC19 !default;
$cloud:     #B4C8E1 !default;
$orchid:    #C8AFF0 !default;
$pink:      #FFAFA5 !default;
$banana:    #FAD24B !default;
$coconut:   #F7F5F2 !default;
$graphite:  #1E1919 !default;

// White/Grays/Black colors
$white:    #FFF !default;
$gray-01:  #F7F6F5 !default;
$gray-02:  #EBE9E6 !default;
$gray-03:  #DFDCD8 !default;  // coconut
$gray-04:  #D3CEC9 !default;
$gray-05:  #C7C1BB !default;
$gray-06:  #BBB5AE !default;
$gray-07:  #AFA8A0 !default;
$gray-08:  #A49B93 !default;
$gray-09:  #978F86 !default;
$gray-10:  #8C8279 !default;
$gray-11:  #7F776F !default;
$gray-12:  #736C64 !default;
$gray-13:  #67615A !default;
$gray-14:  #5B5650 !default;
$gray-15:  #4F4A46 !default;
$gray-16:  #44403D !default;
$gray-17:  #393633 !default;
$gray-18:  #2D2B29 !default;  // graphite
$gray-19:  #242321 !default;
$black:    #1A1918 !default;


// Grays
$gray-100:                                                  $gray-03;
$gray-200:                                                  $gray-05;
$gray-300:                                                  $gray-07;
$gray-400:                                                  $gray-09;
$gray-500:                                                  $gray-11;
$gray-600:                                                  $gray-13;
$gray-700:                                                  $gray-15;
$gray-800:                                                  $gray-17;
$gray-900:                                                  $gray-19;

// Theme Colors
$primary:                                                   $blue;
$secondary:                                                 $gray-700;
$success:                                                   $green;
$info:                                                      $ocean;
$warning:                                                   $gold;
$danger:                                                    $crimson;
$light:                                                     $coconut;
$dark:                                                      $gray-19;


// Theme Soft Colors
$primary-soft:                                              rgba($primary, .1);
$secondary-soft:                                            rgba($secondary, .1);
$success-soft:                                              rgba($success, .1);
$info-soft:                                                 rgba($info, .1);
$warning-soft:                                              rgba($warning, .1);
$danger-soft:                                               rgba($danger, .1);
$light-soft:                                                rgba($gray-100, .1);
$dark-soft:                                                 rgba($dark, .1);