.gamebox {
    position: relative;
    z-index: 100;

    & .schedule {
        line-height: 1.4em;
        font-size: .625rem;
        margin-left: .5em;
        color: $info;
    }

    & .match {
        padding: 10px 0;
        font-size: 0.8rem;
        min-height: 30px;
        box-shadow: $box-shadow-lg;
        background-color: $card-bg;
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        position: relative;
        width: 100%;
        box-sizing: border-box;


        & .competitor {
            padding: 0.2rem 0.5rem;
            font-weight: 300;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            position: relative;
            flex-direction: row;
            flex: 0 0 50%;
            -webkit-box-align: center;
            -webkit-box-pack: justify;
            white-space: nowrap;
            width: 100%;
            text-align: center;
            box-sizing: border-box;
            color: inherit;
            transition: all 0.2s ease-out 0s;


            .competitor-container {
                padding-right: 4px;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                flex: 1 1 0;
                overflow: hidden;

                .seed {
                    width: 19px;
                    font-weight: 500;
                    font-size: 0.69em;
                    min-width: 0.7rem;
                    padding: 0px 0.25rem 0.2rem;
                    display: inline-flex;
                    align-items: flex-end;
                    -webkit-box-pack: end;
                    justify-content: flex-end;
                }

                .flag {
                    transform: scale(.9);
                    min-width: 17px;

                    img {
                        height: 18px;
                    }
                }

                .result {
                    flex-shrink: 1
                }

                .result.strong {
                    font-weight: 700
                }

                .winner {
                    font-weight: 600
                }

                .winner-border {
                    top: 0;
                    height: 100%;
                    width: 2px;
                    position: absolute;
                    right: 0;
                    background-color: $primary;
                    border-radius: 2px 0 0 2px;
                }
            }

        }

        .competitor-hover:hover {
            background-color: rgba(var(--#{$prefix}tertiary-bg-rgb), var(--#{$prefix}bg-opacity));
        }
    }
}