/*------------------------------------
  Form Select
------------------------------------*/

.form-select {
  cursor: pointer;
}

.form-select-borderless {
  border-width: 0;
}

.form-select:disabled {
  background-color: $disabled-bg-color;
}