.form-control,
.form-select {
  background-color: $gray-19;
  border-color: $gray-18;
  color: $gray-01;
}

.form-label {
  color: $gray-12;
}

.page-header,
.navbar-bordered {
  border-color: $gray-18;
}

.offcanvas {
  color: $gray-01;
}


.card-hover {
  &:hover {
    background-color: $gray-19 !important;
  }
}

.bg-light {
  background-color: $gray-19 !important;
}