// Color system

// -----------------------------------------
// 01. System Colors
// -----------------------------------------

// Base colors
$blue:        #0061FE !default;
$blue-night:  #3984FF !default;  // use in dark mode
$coconut:     #F7F5F2 !default;
$graphite:    #1E1919 !default;
$green:       #2d7a02 !default;


// Accent colors
$ocean:     #007891 !default;
$crimson:   #9B0032 !default;
$rust:      #BE4B0A !default;
$canopy:    #0F503C !default;
$navy:      #283750 !default;
$plum:      #78286E !default;
$magenta:   #CD2F7B !default;
$gold:      #9B6400 !default;

$zen:       #14C8EB !default;
$sunset:    #FA551E !default;
$tangerine: #FF8C19 !default;
$lime:      #B4DC19 !default;
$cloud:     #B4C8E1 !default;
$orchid:    #C8AFF0 !default;
$pink:      #FFAFA5 !default;
$banana:    #FAD24B !default;



// White/Grays/Black colors
$white:    #FFFFFF !default;
$gray-02:  #FAF9F7 !default;
$gray-03:  #F7F5F2 !default;  // coconut
$gray-04:  #F5F2EE !default;
$gray-05:  #F2EEE8 !default;
$gray-06:  #EEE9E2 !default;
$gray-07:  #E8E4DC !default;
$gray-08:  #D9D4CC !default;
$gray-09:  #C2BDB6 !default;
$gray-10:  #A8A49E !default;
$gray-11:  #8E8B87 !default;
$gray-12:  #777471 !default;
$gray-13:  #54514F !default;
$gray-14:  #393736 !default;
$gray-15:  #2B2929 !default;
$gray-16:  #242121 !default;
$gray-17:  #201D1D !default;
$gray-18:  #1E1919 !default;  // graphite
$gray-19:  #161313 !default;
$black:    #000000 !default;



// -----------------------------------------
// 02. Theme Colors
// -----------------------------------------

$primary:       $blue !default;
$secondary:     $gray-14 !default;
$success:       $green !default;
$info:          $ocean !default;
$warning:       $gold !default;
$danger:        $crimson !default;
$light:         $coconut !default;
$dark:          $gray-19 !default;


$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);



// Soft colors
$primary-soft:                                              rgba($primary, .1);
$secondary-soft:                                            rgba($secondary, .1);
$success-soft:                                              rgba($success, .1);
$info-soft:                                                 rgba($info, .1);
$warning-soft:                                              rgba($warning, .1);
$danger-soft:                                               rgba($danger, .1);
$light-soft:                                                rgba($light, .1);
$dark-soft:                                                 rgba($dark, .1);

$theme-soft-colors: (
    "primary":    $primary-soft,
    "secondary":  $secondary-soft,
    "success":    $success-soft,
    "info":       $info-soft,
    "warning":    $warning-soft,
    "danger":     $danger-soft,
    "light":      $light-soft,
    "dark":       $dark-soft
) !default;


// Bootstrap overrides
$grays: (
      "100": $gray-03,
      "200": $gray-05,
      "300": $gray-07,
      "400": $gray-09,
      "500": $gray-11,
      "600": $gray-13,
      "700": $gray-15,
      "800": $gray-17,
      "900": $gray-19
) !default;